<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        var latArr =[];
        var longArr = [];
        var index =0;

        $(document).ready(function () {
            $('#show-data').click(function () {
                // ajax call
                $.getJSON('/data', function (data) {
                    $('#firstName, #lastName, #eid, #lat, #lng').empty();

                    $('#eid').append('<div>'+ "Employee ID" +'</div>');
                    $('#firstName').append('<div> '+ "First Name" + '</div>');
                    $('#lastName').append('<div> '+ "Last Name" + '</div>');
                    $('#lat').append('<div> '+ "Latitude" + '</div>');
                    $('#lng').append('<div> '+ "Longitude" + '</div>');
                    // getting data and appending to table
                    var items = data.employees.map(function (item) {
                        $('#eid').append('<div> '+ item.eid + '</div>');
                        $('#firstName').append('<div> '+ item.firstName + '</div>');
                        $('#lastName').append('<div> '+ item.lastName + '</div>');
                        $('#lat').append('<div> '+ item.lat + '</div>');
                        $('#lng').append('<div> '+ item.lng + '</div>');
                        latArr[index] = item.lat;
                        longArr[index] = item.lng;
                        index = index + 1;
                    });
                    showMap();
                });
            });
        });
    // calling google map api
    function showMap() {
        // showing the center of the map
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: new google.maps.LatLng(latArr[2], longArr[2])
        });

        var marker, i;
        // showing other places on map as markers
        for (i = 0; i < latArr.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(latArr[i], longArr[i]),
                map: map
            });
        }
    }

    </script>
</head>

<body>
<h1>Welcome to <%= title %></h1>
<button id="show-data">Get JSON data</button>
<div class="data">
    <div class="col">
        <div id="eid"></div>
    </div>
    <div class="col">
        <div id="firstName"></div>
    </div>
    <div class="col">
        <div id="lastName"></div>
    </div>
    <div class="col">
        <div id="lat"></div>
    </div>
    <div class="col">
        <div id="lng"></div>
    </div>
</div>
<div id="map"></div>
</body>
</html>